.RegisterPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	align-items: center;
}

.form_register {
	width: 600px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 20px;
}

.buttons_block {
	width: 560px;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.button {
	width: 280px;
	display: flex;
	justify-content: center;
}

.register_title {
    font-weight: 600;
    font-size: 52px;
}