.input {
    width: 200px;
}

.addCategory_block {
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin-bottom: 50px;
}

.addCategory_addTask__btn {
    /* width: 40px; */
}